{% extends "list.html" %}
{% load static %}
{% block category %}
<title>Каталог</title>

<h1>Каталог</h1>

<form method="get">
    <input type="text" name="search" placeholder="Поиск" value="{{ request.GET.search|default:'' }}">
    
    <select name="category">
        <option value="">Все категории</option>
        {% for categ in category %}
        <option value="{{ categ.id }}" {% if request.GET.category == categ.id|stringformat:"i" %}selected{% endif %}>
            {{ categ.title }}
        </option>
        {% endfor %}
    </select>
    
    <select name="manufacturer">
        <option value="">Все производители</option>
        {% for manuf in manufacturer %}
        <option value="{{ manuf.id }}" {% if request.GET.manufacturer == manuf.id|stringformat:"i" %}selected{% endif %}>
            {{ manuf.title }}
        </option>
        {% endfor %}
    </select>
    
    <button type="submit">Применить</button>
    
</form>
{% endblock %}
{% block content %}
<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); gap: 20px;">
<ul>
    {% for p in products %}
    
        <div class="product-item">
            <img src= "{% static p.product_photo.url %}">
            <div class="product-list">
              <h3>{{p.title}}/{{ p.category.title }}</h3>
                <span class="price">₽ {{p.price}} </span>
                <p>В наличии: {{ p.amount_in_stock }}</p>
                <a href="" class="button">В корзину</a>

            </div>
          </div>
    {% endfor %}
</ul>
{% endblock %}